@using ProjectZayShop.DTOs.CategoryDtos;
@model CategoryUpdateDto

@{
    ViewData["Title"] = "Update";
}



<div class="container-fluid pt-4 px-4">
	<div class="row g-4">
		<div class="col-sm-12 col-xl-6">
			<div class="bg-secondary rounded h-100 p-4">
				<h6 class="mb-4">Basic Form</h6>
				<form action="update" method="post" enctype="multipart/form-data">
					<div class="mb-3">
						<label asp-for="@Model.categoryPostDto.Name" class="form-label"></label>
						<input asp-for="@Model.categoryPostDto.Name" value="@Model.categoryGetDto.Name" type="text" class="form-control">
					</div>
					<div class="mb-3">
						<label asp-for="@Model.categoryPostDto.File"></label>
						<input asp-for="@Model.categoryPostDto.File" accept="image/*" class="form-control">
						<span class="text text-danger" asp-validation-for="@Model.categoryPostDto.File"></span>
					</div>
					<button type="submit" class="btn btn-primary">Create</button>
				</form>
			</div>
		</div>

	</div>
</div>


